<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWXGYP0U-3jiJtG6GDfjg_XSEULD5e-sg</string>
	<key>GCM_SENDER_ID</key>
	<string>382413175579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.corptechRMCheckin.rmcheckin</string>
	<key>PROJECT_ID</key>
	<string>rmcheckinapp-b1ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>rmcheckinapp-b1ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382413175579:ios:424a2f5bf39983c9e371be</string>
</dict>
</plist>